.content {
  display: flex;
  background-color: #ef9f38;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
}

.commu_tip {
  display: flex;
  color: #fff;
}
